= simple_form_for :message, url: messages_path do |f|
  = f.input :recipient, label: 'Send to', input_html: {class: 'typeahead-user', autocomplete: 'off'}
  = f.input :subject
  = f.input :body, as: :text
  .form-actions
    = f.button :submit, 'Send Message', class: 'btn-primary'
    = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'