<% content_for @active.to_sym do %>
  active
<% end %>

<% @receipts.each do |receipt| %>
  <div class="row-fluid">
    <div class="row-fluid">
      <div class="span1">From:</div> 
      <div class="span11">
        <%= receipt.message.sender %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1">To:</div>
      <div class="span11">
        <% if @active == 'inbox_active' %>
          <%= receipt.receiver %>
        <% else %>
          <%= Receipt.find(receipt.id - 1).receiver %>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1">Body:</div>
      <div class="span11">
        <%= receipt.message.body %>
      </div>
    </div>
  </div>
  <hr/>
<% end %>