<% content_for @active.to_sym do %>
  active  
<% end %>

<% @conversations.each do |conversation| %>
	<div class="row-fluid">
    <div class="span1 text-center">
		  <%= conversation.receipts.first.message.sender %>:  
    </div>
    <div class="span8">
      <%= link_to conversation.subject, conversation_messages_path(conversation) %>
    </div>
    <div class="span3">
      <%= conversation.last_message.created_at %>
    </div>
	</div>
  <hr/>
<% end %>