<div class="row-fluid">
  <div class="span2">
    <%  unless job.images.empty? %>
      <%= image_tag job.images.recent.first.image_url(:small_thumb) %>
    <% else %>
      <img data-src="holder.js/100x100" alt="">
    <% end %>
  </div>
  <div class="span10">
    <h4><%= link_to job.full_title, job %></h1>
    <p><%= "#{truncate(job.description, length: 70)} by ( #{job.user.name} )"  %></p>
    <p><%= job.category %></p>
  </div>
</div>
<hr class="soften"/> 
