<div class="container-fluid">
<!--     <%= form_tag :new_job, method: :get do %>
    <div class="row-fluid">
      <div class="span5">
        <div class="span2">I will</div>
        <div class="span10"><%= text_field_tag :title, nil, :class => 'span12' %></div>
      </div>
      <div class="span2">
        <div class="span4">for $</div>
        <div class="span6"><%= text_field_tag :price, nil, :class => 'span12' %></div>
      </div>
      <div class="span2"><%= button_tag "Continue", :class => 'btn btn-info' %></div>
    </div>
    <% end %> -->
    <div class="row-fluid">
      <%= form_tag :new_job, method: :get, :class => 'form-inline' do %>
          <%= label_tag :title, 'I will' %> 
          <%= text_field_tag :title, nil, :class => 'input-xlarge' %>
          <%= label_tag :price, 'for' %>
          <div class="input-prepend">
            <span class="add-on">$</span>
            <%= text_field_tag :price, nil, :class => 'input-mini' %>
          </div>
          
        <%= button_tag "Continue", :class => 'btn btn-info' %>
      
      <% end %>
    </div>

  <h3><%= @jobs_filter_title %></h3>
  <%= render @jobs %>
  <%= will_paginate @jobs, :renderer => BootstrapPagination::Rails %>
</div>
