<%= form_for @job, :html => {:multipart => true} do |f| %>
  <% @messages = @job.errors.messages %>
  <div class="row-fluid">
    <div class="span2"><%= f.label :title, 'I will:' %></div>
    <div class="span6">
      <div class="span8">
        <%= f.text_field :title, value: @title, :class => 'span11' %>
        <% unless @messages[:title].empty? %>
          <div class="control-group error"><span class="help-inline"><%= @messages[:title].first %></span></div>
        <% end %>
      </div>
      <div class="span2"><%= f.label :price, 'for $' %></div>
      <div class="span2">
        <%= f.text_field :price, value: @price, :class => 'span12' %>
        <% unless @messages[:price].empty? %>
          <div class="control-group error"><span class="help-inline"><%= @messages[:price].first %></span></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2"><%= f.label :description, 'Description:' %></div>
    <div class="span6">
      <div class="span12">
        <%= f.text_area :description, :class => 'span12', size:'1x5'%>
      </div>
    </div>
    <div class="span4">
      <% unless @messages[:description].empty? %>
        <div class="control-group error"><span class="help-inline"><%= @messages[:description].first %></span></div>
      <% end %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2"><%= f.label :category_id, 'Category:' %></div>
    <div class="span6">
      <div class="span12">
        <%= collection_select(:job, :category_id, Category.all, :id, :name) %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2"><%= f.label :location_id, 'Location:' %></div>
    <div class="span6">
      <div class="span12">
        <%= collection_select(:job, :location_id, Location.all, :id, :name) %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2"><%= f.label :tag_list, 'Tags:' %></div>
    <div class="span6">
      <div class="span12">
        <%= f.text_field :tag_list, :class => 'span5', placeholder: 'separate your tags by comma' %>
      </div>
    </div>
  </div>


  <div class="row-fluid">
    <div class="span2"><%= f.label :days, 'Max Days to Deliver:' %></div>
    <div class="span6">
      <div class="span12">
        <%= f.text_field :days, :class => 'span4' %>
      </div>
    </div>
    <div class="span4">
        <% unless @messages[:days].empty? %>
          <div class="control-group error"><span class="help-inline"><%= @messages[:days].first %></span></div>
        <% end %>      
    </div>
  </div>



  <div class="row-fluid">
    <div class="span2">Image:</div>
    <div class="span6">
      <div class="span12">
        <%= f.fields_for :images do |ff|%>
          <%= ff.file_field :image %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row-fluid">
    <div class="span8 well">
      <%= f.fields_for :extra_jobs do |ff| %>
      <div class="row-fluid">
        <div class="span4 form-inline">
          <%= ff.label :price, 'For an extra' %> 
          <div class="input-prepend">
            <span class="add-on">$</span>
            <%= ff.text_field :price, :class => 'input-mini' %>
          </div>
        </div>
        <div class="span8 form-inline">
          <%= ff.label :description,'I will:' %> <%= ff.text_field :description, :class => 'input-large' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>



  <div class="row-fluid">
    <div class="span6 offset2">
      <%= f.button :class => 'btn btn-primary'  %>
    </div>
  </div>
  
<% end %>

