<div class="row-fluid show-header">
  <h1><%= link_to @job.user.name, user_path(@job.user)%>: <%= @job.full_title %></h1>
</div>
<div class="row-fluid spec-list">
  <div class="span2">JOB RATING</div>
  <div class="span3">DELIVERY IN: <%= pluralize @job.days, 'day' %></div>
  <div class="span2">ORDERS IN QUEUE</div>
  <div class="span2">SELLER RATING</div>
  <div class="span2">VIEWS</div>
</div>

<div class="row-fluid">
  <div class="span4" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span12">
          
            <% if defined? @first_image %>
              <a href="<%= @first_image.image_url %>" class="thumbnail" data-gallery="gallery">
                <%= image_tag @first_image.image_url(:thumb) %>
            <% else %>
              <a href="#" class="thumbnail">
                <img data-src="holder.js/300x300" alt="">
            <% end %>
            </a>
        
        </li>
      </ul>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <% if defined? @other_images %>
          <% @other_images.each do |picture| %>
            <li class="span4"><a href="<%= picture.image_url %>" class="thumbnail" data-gallery="gallery"><%= image_tag picture.image_url(:small_thumb) %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span8">
    <div class="row-fluid desc-paragraph">
      <%= @job.description %>
    </div>
    <div class="row-fluid desc-paragraph">
      Tags: <% @tags.each do |tag| %>
        <%= link_to tag.name, jobs_path(tag: tag.name), :class => "btn btn-inverse btn-mini" %> 
      <% end %>
    </div>
    <div class="row-fluid">
      <div id="socialButtons" class="span12">
      </div>
    </div>
  </div>
</div>

<% unless @extra_jobs.empty? %>
<div class="row-fluid ">
  <div class="span8 well">
    <h3>Get more with my extra Jobs</h3>
    <% @extra_jobs.each do |extra_job| %>
      <div class="row-fluid inverted">
        <div class="span10">
          <%= check_box_tag(:extra_job) %> I will <%= extra_job.description %>
        </div>
        <div class="span2">
          + <%= number_to_currency(extra_job.price) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
    <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
    <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
  </div>
</div>
