<div class="row-fluid show-header">
  <div class="span2">
    <% if @avatar %>
      <%= image_tag @avatar %>
    <% else %>
      <img data-src="holder.js/100x100" alt="">
    <% end %>
  </div>
  <div class="span10">
    <h3><%= @user.name %></h3>
  </div>
</div>

<br/>

<%= render partial: "jobs/job", collection: @jobs %>
