<div class="container-fluid">
  <% @jobs.each do |job| %>
    
      <div class="row-fluid">
        <div class="span2">
          <img data-src="holder.js/100x100" alt="">
        </div>
        <div class="span10">
          <h4><%= "#{job.title} for $#{job.price}" %></h1>
          <p><%= "#{truncate(job.description, length: 70)} by ( #{job.user.name} )"  %></p>
          <p><%= job.category %></p>
        </div>
      </div>
      <hr class="soften"/> 
  <% end %>
  <%= will_paginate @jobs, :renderer => BootstrapPagination::Rails %>
</div>
