<div class="row-fluid">
  <div>
    <%= request.user %> needs: <%= request.description %>
  </div>
  <div>
    Posted in <%= link_to request.category, requests_path(category_id: request.category.id) %>
  </div>
  <hr/>
</div>