<% if @request.approved.nil? %>
  Your request hasn't been approved yet
<% elsif @request.approved == false %>
  Your request wasn't approved
<% else %>
  <%= "I'm looking for someone who will #{@request.description}" %>
<% end %>
