<tr id="<%= dom_id job %>">
  <td><%= link_to "I will #{job.title}", job_path(job.job) %></td>
  <td><%= job.buyer %></td>
  <td><%= job.deliver_date %></td>
  <% if title == 'Finished Jobs' %>
    <td><%= job.review %></td>
  <% end %>
</tr>