<%= render 'shared/accounts/sidebar' %>

<h3><%= @title %></h3>

<div class="row-fluid pattern1">
  <div class="span12 well">
    <div class="span2 subpattern1" id="active_jobs"><%= link_to "Active", my_jobs_path(status: :active) %>: <%= current_user.active_jobs.count %></div>
    <div class="span2 subpattern1" id="finished_jobs"><%= link_to "Finished", my_jobs_path(status: :finished) %>: <%= current_user.finished_jobs.count %></div>
    <div class="span2" id="unreviewed_jobs"><%= link_to "In Review", my_jobs_path(status: :unreviewed) %>: <%= current_user.unreviewed_jobs.count %></div>
  </div>
</div>

<br/>

<div class="span10">
  <table class="table table-bordered">
    <thead>
      <th>Title</th>
      <th>Customer</th>
      <th>Delivery Date</th>
      <% if @title == 'Finished Jobs' %>
        <th>Review</th>
      <% end %>
    </thead>
    <tbody>
      <%= render partial: 'job', collection: @jobs, locals: {title: @title} %>
    </tbody>
  </table>
</div>