<tr id="<%= dom_id purchase_job %>">
  <td><%= purchase_job.deliver_date.to_date %></td>
  <td><%= purchase_job.created_at.to_date %></td>
  <td><%= purchase_job.title %></td>
  <td><%= purchase_job.price %></td>
</tr>