<%= render 'shared/accounts/sidebar' %>

<div class="row-fluid">
  <%= link_to 'Active Jobs', purchase_jobs_path(status: :active), class: "#{get_btn_class('active', @status)}" %>
  <%= link_to 'Finished Jobs', purchase_jobs_path(status: :finished), class: "#{get_btn_class('finished', @status)}" %>
  <%= link_to 'Pending Review Jobs', purchase_jobs_path(status: :unreviewed), class: "#{get_btn_class('unreviewed', @status)}" %>
</div>

<br/>

<div class="row-fluid">
  <div class="span10">
    <table class="table">
      <thead>
        <th>created on</th>
        <th>delivery on</th>
        <th></th>
        <th>total</th>
      </thead>
      <tbody>
        <%= render @purchase_jobs %>
      </tbody>
    </table>
  </div>
</div>