<%= render 'shared/accounts/sidebar' %>

<div class="row-fluid">
  <h3>My Payments</h3>
</div>

<br/>

<div class="row-fluid">
  <a href="" class="btn">Witdraw Money</a>
  <a href="" class="btn">Transactions</a>
</div>

<br/>

<div class="row-fluid">
  <h4>Your current Balance is:<%= number_to_currency(@user.wallet.balance) %></h4>
</div>

<br/>

<div class="row-fluid">
  <h5>Pending Withdrawals</h5>
  <hr/>
  <p>No withdrawals pending yet</p>
</div>

<br/>

<div class="row-fluid">
  <h5>Pending Incoming Payments</h5>
  <hr/>
  <p>No payments pending yet</p>
</div>