<% content_for :account do %>
  <div class="sidebar-nav well">
    <ul class="nav nav-list">
      <li><%= link_to 'My Jobs', my_jobs_path %></li>
      <li><%= link_to 'Payments', user_payment_path(current_user) %></li>
      <li><%= link_to 'My Purchases', purchase_jobs_path(status: :active) %></li>
      <li><a href="#">Manage Sales</a></li>
      <li><%= link_to 'Private Messanges', conversations_path %></li>
      <li><%= link_to 'Personal Info', edit_user_registration_path %></li>
      <li><a href="#">Reviews/Feedback</a></li>
      <li><a href="#">Affiliates</a></li>
    </ul>
  </div>
<% end %>