<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<%= link_to "Pricerr", root_path, :class => 'brand' %>
<div class="container-fluid nav-collapse">
  <ul class="nav">
    <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
      </li>
      <li>
        <%= link_to('Edit account', edit_user_registration_path) %>
      </li>
      <li>
        <%= link_to('My account', my_jobs_path) %>
      </li>
    <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>  
      </li>
      <li>
        <%= link_to('Sign up', new_user_registration_path)  %>
      </li>
    <% end %>
  </ul>
</div>