<div class="span2">

  <%= yield :account %>

  <div class="sidebar-nav well">
    <ul class="nav nav-list">
      <li class="nav-header">Locations</li>
      <% Location.all.each do |location| %>
        <li class="nav"><%= link_to location.name, root_path(location: location.name) %></li>
      <% end %>
    </ul>              
    <ul class="nav nav-list">
      <li class="nav-header">Categories</li>
      <% Category.all.each do |category| %>
        <li class="nav"><%= link_to category.name, root_path(category: category.name) %></li>
      <% end %>
    </ul>
  </div>
  <div class="sidebar-nav well"> 
    <%= form_for [current_user, Request.new] do |f| %>
      <%= f.label :description, "I'm looking for someone who will" %>
      <%= f.text_field :description, :class => 'span12' %>
      <%= f.label :category_id, 'in' %>
      <%= collection_select(:request, :category_id, Category.all, :id, :name, {} ,:class => 'span10') %>
      <%= f.button 'Suggest', type: :submit, :class => 'btn' %>
    <% end %>

    <%= link_to 'See All Requests', requests_path %>

    <hr/>

    <% recent_requests.each do |request| %>
      <div class="row-fluid">
        <div>
          <%= request.user %> needs: <%= request.description %>
        </div>
        <div>
          Posted in <%= link_to request.category, requests_path(category_id: request.category.id) %>
        </div>
        <br/>
      </div>
    <% end %>
  </div>
 </div>

