<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pricerr" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pricerr" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>

    <header class="navbar navbar-fluid-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

      <div class="container-fluid">
        <div class="content-fluid">
          <div class="row-fluid">
            <div class="span4 offset8">
              <%= form_tag '/jobs', class: 'form-search pull-right', method: :get do %>
                <%= text_field_tag :q, nil, class: 'typeahead-job', autocomplete: 'off' %>
                <%= button_tag 'Search', type: :submit, class: "btn" %>
              <% end %>
            </div>
          </div>
          <div class="row-fluid">
          <div class="span10">
            <%= render 'layouts/messages' %>
            <%= yield :conversation %>
            <%= yield %>
          </div>
            <%= render 'layouts/sidebar' %>  
          </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->

    <!-- Le Javascript -->
    <%= javascript_include_tag "application" %>
  </body>
</html>