<%= render 'shared/accounts/sidebar' %>

<% content_for :conversation do %>
  <ul class="nav nav-tabs">
    <li class="<%= yield :inbox_active %>">
      <%= link_to 'Inbox', conversations_path %>
    </li>
    <li class="<%= yield :sentbox_active %>">
      <%= link_to 'Sent Messages', conversations_path(mailbox: :sentbox) %>
    </li>
    <li class="<%= yield :new_message_active %>">
      <%= link_to 'Send Message', new_message_path %>
    </li>
  </ul>
<% end %>

<%= render :template => 'layouts/application' %>